<div class="filler1">
    <p class="text-5xl">What the fuck is going on here</p>
    <p class="text-4xl">I am asking myself the same question</p>
    <p class="text-3xl">I have been left unattended with a website </p>
    <p class="text-sm">I cannot be stopped</p>
</div>
<div class="button">
        <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">
            <p>Get Started</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.21967 2.96967C8.51256 2.67678 8.98744 2.67678 9.28033 2.96967L13.5303 7.21967C13.8232 7.51256 13.8232 7.98744 13.5303 8.28033L9.28033 12.5303C8.98744 12.8232 8.51256 12.8232 8.21967 12.5303C7.92678 12.2374 7.92678 11.7626 8.21967 11.4697L11.1893 8.5H3.75C3.33579 8.5 3 8.16421 3 7.75C3 7.33579 3.33579 7 3.75 7H11.1893L8.21967 4.03033C7.92678 3.73744 7.92678 3.26256 8.21967 2.96967Z" fill="#ffffff"/>
              </svg>
          </a>
    </div>
    <div class="filler2">
        <p class="text-2xl">Follow 3 easy steps to *i dunno - make a shopping list???*
        </p>
        <p class="text-xl">Step 1:</p>
        <p class="text-lg">goose goose goose goose</p>
        <p class="text-xl">Step 2:</p>
        <p class="text-lg">goose goose goose goose goose goose goose goose </p>
        <p class="text-xl">Step 3:</p>
        <p class="text-lg">goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose goose</p>
    </div>
