<div class="homePageContent">
    <img src="../../assets/home.png">
    <div class="filler1">
        <p>Ready to simplify your shopping experience? Get started now!</p>
    </div>
    <br>
    <div class="button">
        <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">
            <p class="header">Get Started Today</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.21967 2.96967C8.51256 2.67678 8.98744 2.67678 9.28033 2.96967L13.5303 7.21967C13.8232 7.51256 13.8232 7.98744 13.5303 8.28033L9.28033 12.5303C8.98744 12.8232 8.51256 12.8232 8.21967 12.5303C7.92678 12.2374 7.92678 11.7626 8.21967 11.4697L11.1893 8.5H3.75C3.33579 8.5 3 8.16421 3 7.75C3 7.33579 3.33579 7 3.75 7H11.1893L8.21967 4.03033C7.92678 3.73744 7.92678 3.26256 8.21967 2.96967Z" fill="#ffffff"/>
            </svg>
        </a>
    </div>
    <br>
    <div class="filler2">
        <p>Are you tired of forgetting items at the grocery store or spending extra time wandering the aisles? Look no further! ShopListPro is here to revolutionize your shopping experience. Say goodbye to those handwritten shopping lists and hello to the future of organized, stress-free shopping.</p>
        <br>
        <p class="header">Why Choose ShopListPro?</p>
        <br>
        <p class="listHeader">1. Effortless List Creation</p>
        <ul>
            <li>Easily create shopping lists for any occasion or store.</li>
            <li>Browse our extensive database of items, or add your own custom items.</li>
            <li>Smart suggestions help you find and add items quickly.</li>
        </ul>
        <br>
        <p class="listHeader">2. Intelligent Sorting</p>
        <ul>
            <li>ShopListPro organizes your items by categories or aisles for maximum efficiency.</li>
            <li>Customize your sorting preferences to match your favorite stores.</li>
        </ul>
        <br>
        <p class="listHeader">3. Collaborative Shopping</p>
        <ul>
            <li>Share your lists with family members, friends, or roommates.</li>
            <li>Everyone can contribute to the list in real-time, ensuring you never miss an item.</li>
        </ul>
        <br>
        <p class="listHeader">4. Sync Across Devices</p>
        <ul>
            <li>Access your shopping lists from your smartphone, tablet, or computer.</li>
            <li>Seamless synchronization ensures you're always up-to-date.</li>
        </ul>
        <br>
        <p class="listHeader">5.  Recipe Integration</p>
        <ul>
            <li>Import recipes and create shopping lists based on your meal plans.</li>
            <li>ShopListPro makes meal prep a breeze.</li>
        </ul>
    </div>
    <br>
    <div class="filler3">
        <p class="header">Get Started Today</p>
        <br>
        <p>Are you ready to streamline your shopping experience and save time and money? Sign up for a free account and start creating your first shopping list with ShopListPro. Join the future of shopping today!</p>
        
        <br>
        <p class="header">Download Our Mobile App</p>
        <br>
        <p>For on-the-go convenience, download our mobile app for iOS and Android devices. Shop smarter, shop efficiently, shop with ShopListPro.</p>
    </div>
</div>

