.button {
    width:fit-content;
    min-width: 100px;
    position: relative;
    /* margin-top: 30px; */
    left: 35%;
}

hr {
    color:#82ADFF;
}
.shoppingList {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    width:fit-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    float: left;
    background-color: #82ADFF;
    margin-left:-20%;
}

.shoppingList thead tr {
    background-color: #82ADFF;
    color: #ffffff;
    text-align: left;
    position: sticky;
    top:0;
    z-index:100;
    
}

.shoppingList th {
    position: sticky;
    top:0;
}

.shoppingList th,
.shoppingList td {
    padding: 12px 15px;
}

.shoppingList tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.shoppingList tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.shoppingList tbody tr:last-of-type {
    border-bottom: 2px solid #82ADFF;
}

table {
    overflow-y:auto;
    max-height:550px;
    display:block;
    width:fit-content;
    /* margin-left: -20%; */
}

.ingredients {
    text-decoration: dashed;
    list-style-position: inside;
    list-style-type: disc;
    max-height: 60%;
    overflow-y: auto;
}

.method {
    padding-top: 5%;
    width:30%;
    padding-bottom: 5%;
}

.theRight {
    display: flex;
    flex-direction: column;
    float:right;
    width:fit-content;
    min-width:60%;
    height:fit-content;
    min-height:400px;
    margin-right: -20%;
}


.noRecipeResponse {
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
    position: relative;
    left: 25%;
    flex-direction: column;
}

.noRecipeResponse p {
    max-width: fit-content;
    display: flex;
}