.button {
    width:fit-content;
    margin-left: 50%;
}

hr {
    color:#82ADFF;
}
.shoppingList {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    float: left;
}

.shoppingList thead tr {
    background-color: #82ADFF;
    color: #F5F5F5;
    text-align: left;
    position: sticky;
    top:0;
    z-index:100;
    
}

.shoppingList th {
    position: sticky;
    top:0;
}

.shoppingList th,
.shoppingList td {
    padding: 12px 15px;
}

.shoppingList tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #F5F5F5;
}

.shoppingList tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.shoppingList tbody tr:last-of-type {
    border-bottom: 2px solid #82ADFF;
}

table {
    overflow-y:auto;
    max-height:550px;
    display:block;
}

.ingredients {
    text-decoration: dashed;
    list-style-position: inside;
    list-style-type: disc;
    max-height: 60%;
    overflow-y: auto;
}

.method {
    padding-top: 5%;
    width:30%;
    padding-bottom: 5%;
}

.theRight {
    display: flex;
    flex-direction: column;
    float:right;
    width:60%;
}

.pleaseForTheLoveOfGodWorkNormally {
    padding: 0.5rem; 
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; 
    height: 60%; 
    top: 110px;
    max-width: 818px;
    max-height: 60%;
    min-width: 650px;
    min-height: 575px;
    position: fixed;
    right: 700px;
}