.button {
    width:fit-content;
    margin-left:1%;
    padding-left: 4px;
    padding-right: 4px;
    
}

#next {
    position:fixed;
    bottom:33%;
    right:35%;
}   

#drop {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#drop thead th {
    background-color: #82ADFF;
    color: #F5F5F5;
    text-align: left;
    /* position: sticky;
    top:0;
    z-index:100; */
    margin-top:50%;
}

/* #drop th {
    position: sticky;
    top:0;
} */

#drop th, #drop td {
    padding: 12px 15px;
}


#drop tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #F5F5F5;
}

#drop tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#drop tbody tr:last-of-type {
    border-bottom: 2px solid #82ADFF;
}

table {
    overflow-y:auto;
    max-height:300px;
    width:200px;
    margin-top: 11%;
}

.tabletime {
    overflow-y: auto;
    max-height:300px;
    /* width: 550px; */
    max-width:300px;
    width:fit-content;
    margin-bottom: 10%;
    /* margin-left:27%; */
}

.title {
    display: flex; 
    margin: 2.5rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
    height: 84px;
    width: 300px;
    background-color: #82ADFF;
    color:#F5F5F5;
    position: fixed;
    top: 17%;
}

.buttons, .addClear {
    display: flex;
    flex-direction: row;
    margin-left: 36%;
    
}

.addClear {
    position:fixed;
    right:48%;
    bottom: 33%;
}