.shoppingList {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.shoppingList thead tr {
    background-color: #82ADFF;
    color: #F5F5F5;
    text-align: left;
}

.shoppingList th,
.shoppingList td {
    padding: 12px 15px;
}

.shoppingList tbody tr {
    border-bottom: 1px solid #dddddd;
}

.shoppingList tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.shoppingList tbody tr:last-of-type {
    border-bottom: 2px solid #82ADFF;
}