<form>
    <input type="text" name="name" placeholder="Name" required [(ngModel)]="registerUserData.name">
    <input type="text" name="username" placeholder="Username" required [(ngModel)]="registerUserData.username">
    <input type="email" name="email" placeholder="Email" required [(ngModel)]="registerUserData.email">
    <input type="text" name="phoneNumber" placeholder="Phone Number" required [(ngModel)]="registerUserData.phoneNumber">
    <input type="password" name="password" placeholder="Password" required [(ngModel)]="registerUserData.password">
    <!-- TODO: Confirm password and its validation
    <input type="" name="confirmPassword" placeholder="Confirm Password">
    -->
    <button (click)="registerUser()" class="button">Sign Up</button>
</form>
