<div class="flex justify-center h-screen">
    <div class="flex-col mx-[230px] p-5 ">
        <div class="bg-ui-white p-2 my-10 rounded-[52px] top-[130px] min-w-[400px] flex-col shadow-xl">
            
            <!-- Sign Up title -->
            <div class="items justify-center items-center flex">
                <div class="bg-ui-blue text-ui-white h-[84px] w-[300px] flex justify-center items-center rounded-full m-10 shadow-xl">
                    <h1 class=" font-semibold text-xl">Sign Up</h1>
                </div>
            </div>

            <!-- Temp validation errors -->
            <div class="bg-[#fee2e2] border border-[#f87171] text-[#b91c1c] px-5 py-3 my-3 rounded relative" [class.hidden]="alertIsHidden" role="alert">
                <strong class="font-bold">Oops! </strong><strong class="font-medium">something went wrong: </strong>
                <span class="block sm:inline">{{errorMsg}}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                  <svg class="fill-current h-6 w-6 fill-[#ef4444]" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" (click)="closeAlert()"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
            </div>

            <div class="h-fit">
                <form [formGroup]="signUpForm">
                    <div class="justify-center items-center flex my-6 h-fit">
                        <input type="text" name="name" placeholder="Full Name" class="border rounded-sm p-1" formControlName="name">
                    </div>
                    <div class="items justify-center items-center flex my-6 h-fit">
                        <input type="text" name="username" placeholder="Username" class="border rounded-sm p-1" formControlName="username">
                    </div>
                    <div class="items justify-center items-center flex my-6 h-fit">
                        <input type="email" name="email" placeholder="Email" class="border rounded-sm p-1" formControlName="email">
                    </div>
                    <div class="items justify-center items-center flex my-6 h-fit">
                        <input type="text" name="phoneNumber" placeholder="Phone Number" class="border rounded-sm p-1" formControlName="phoneNumber">
                    </div>
                    <div class="items justify-center items-center flex my-6 h-fit">
                        <input type="password" name="password" placeholder="Password" class="border rounded-sm p-1" formControlName="password">
                    </div>
                    
                    <!-- TODO: Confirm password and its validation
                    <input type="" name="confirmPassword" placeholder="Confirm Password">
                    -->
                    <div class="items justify-end items-end flex my-6 mx-5 h-fit">
                        <button (click)="registerUser()" class="button px-5 py-2">Sign Up</button>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>
</div>