<div class="flex justify-center h-screen">
    <div class="flex-col mx-[230px] p-5 ">
        <div class="bg-ui-white p-2 my-10 rounded-[52px] h-3/5 top-[130px] max-w-[818px] min-w-[650px] min-h-[700px] shadow-xl flex-col">
            <div class="items justify-center items-center flex">
                <div class="bg-ui-coral text-ui-white h-[84px] w-[300px] flex justify-center items-center rounded-full m-10">
                    <h1 class=" font-semibold text-xl">Sign In</h1>
                </div>
            </div>
            <div class="items justify-center items-center flex">
                <p>body</p>
            </div>
        </div>
    </div>
</div>