<div class="flex justify-center h-screen">
    <div class="flex-col mx-[230px] p-5 ">
        <div class="bg-ui-white p-2 my-10 rounded-[52px] h-3/5 top-[130px] max-w-[818px] min-w-[650px] min-h-[700px] shadow-xl overflow-scroll">

            <!-- Sign In title -->
            <div class="items justify-center items-center flex">
                <div class="bg-ui-blue text-ui-white h-[84px] w-[300px] flex justify-center items-center rounded-full m-10 shadow-xl">
                    <h1 class=" font-semibold text-xl">Sign In</h1>
                </div>
            </div>

            <!-- Temp validation errors -->
            <div class="bg-[#fee2e2] border border-[#f87171] text-[#b91c1c] px-5 py-3 my-3 rounded relative" [class.hidden]="alertIsHidden" role="alert">
                <strong class="font-bold">Oops! </strong><strong class="font-medium">something went wrong: </strong>
                <span class="block sm:inline">{{errorMsg}}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                  <svg class="fill-current h-6 w-6 fill-[#ef4444]" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" (click)="closeAlert()"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
            </div>

            <!-- Username and Password text boxes + login button -->
            <div class="items justify-center items-center flex">
                <form [formGroup]="loginForm">
                    <input type="text" name="username" placeholder="Username" class="text-input focus:outline-none focus:shadow-outline my-1" formControlName="username">
                    <input type="password" name="password" placeholder="Password" class="text-input focus:outline-none focus:shadow-outline my-1" formControlName="password">
                    <div class="flex justify-end">
                        <button type="submit" name="submitButton" class="button" (click)="loginUser()">Log in</button>
                    </div>
                </form>
            </div>

            <!-- "or" line -->
            <div class="flex items-center justify-center">
                <div class="h-[1px] bg-ui-blue w-1/3"></div>
                <div class="mx-4 text-gray font-semibold">or</div>
                <div class="h-[1px] bg-ui-blue  w-1/3" ></div>
            </div>

            <!-- google,facebook etc login -->
            <div class="h-3/6 items-center flex justify-center">
                <h1>Here is where the other login options will go</h1>
            </div>

            <!-- Sign Up link -->
            <div class="flex justify-end items-center px-4">
                <h1 class="text-gray-500 text-sm">Don't have an account?</h1>
                <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-ui-blue text-sm font-semibold mx-2 hover:underline">Sign Up</a>
            </div>
        </div>
    </div>
</div>