/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background-color: #A1F0CA;
}

.button {
    background-color: #FF9D7F;
    border-radius: 52px;
    color: #F5F5F5;
    display: flex;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}
.button p {
    margin-right: 5px;
    padding-left: 4px;
    float: left;
}
.button svg {
    margin-top: 7%;
    float: right;
    margin-right: 2px;
}