<div class="flex justify-center h-screen">
    <div class="flex-col mx-[230px] p-5 ">
        <app-navbar *ngIf="!signIn && !signUp"></app-navbar>
            <div *ngIf="!signIn && !signUp" class="bg-ui-white flex p-2 my-10 rounded-[52px] items-center h-3/5 justify-center top-[130px] max-w-[818px] min-w-[650px] min-h-[575px] shadow-xl">
                <ng-container *ngIf="recipes"><app-recipes ></app-recipes></ng-container>
                <ng-container *ngIf="home"><app-home></app-home></ng-container>
                <ng-container *ngIf="shopList"><app-shopping-list></app-shopping-list></ng-container>
                <ng-container *ngIf="addIngre"><app-add-ingredients></app-add-ingredients></ng-container>
                <ng-container *ngIf="addMeth"><app-add-method></app-add-method></ng-container>
                <ng-container *ngIf="upload"><app-upload-image></app-upload-image></ng-container>
                <ng-container *ngIf="menu"><app-menu></app-menu></ng-container>
                <ng-container *ngIf="privacy"><app-privacy-policy></app-privacy-policy></ng-container>
                <ng-container *ngIf="tsandcs"><app-ts-and-cs></app-ts-and-cs></ng-container>
                <ng-container *ngIf="contact"><app-contact-us></app-contact-us></ng-container>
            </div>
            <ng-container *ngIf="signIn"><app-sign-in></app-sign-in></ng-container>
            <ng-container *ngIf="signUp"><app-sign-up></app-sign-up></ng-container>
        <app-footer *ngIf="!signIn && !signUp"></app-footer>
    </div>
</div>
<router-outlet></router-outlet>