
<div class="items justify-center items-center flex">
  <div class="bg-ui-blue text-ui-white h-[84px] w-[300px] flex justify-center items-center rounded-full m-10 shadow-xl">
      <h1 class=" font-semibold text-xl">Upload Image</h1>
  </div>
</div>

<label for="images" class="drop-container" id="dropcontainer">
  <span class="drop-title">Drop files here</span>
  or
  <input type="file" id="images" accept="image/*" >
</label>

<div class="button1">
    <a routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="saveRecipe()">
      <p>Skip</p>
    </a>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="saveRecipe()">
      <p>Save</p>
    </a>
</div>

