
<div class="wrapHeader">
  <div class="blueHeader">
      <h1 class=" font-semibold text-xl">Upload Image</h1>
  </div>
</div>

<label for="images" class="drop-container" id="dropcontainer">
  <span class="drop-title">Drop files here</span>
  or
  <input type="file" id="images" accept="image/*" >
</label>

<div class="button1">
    <a routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p>Skip</p>
    </a>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p>Save</p>
    </a>
</div>

